{{!< default}}

<section class="error-page">
    <div class="error-box">
        <div class="error-code">{{statusCode}}</div>
        <h1 class="error-title">{{message}}</h1>
        <a class="error-link" href="{{@site.url}}">&larr; BACK TO HOME</a>
    </div>
</section>
